<html>
<head>
</head>
<body>
    <div class="message">
        <div>
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/20b27409bdb9355b56e8ff04128a501492e28b6ee6ae7d195108588c68b607a4b4641c10d304e3889281142825b2f1f90db211f7055ede449c1718e2e0f6309b.png" />
        </div>
        <div class="text" style="font-size:18px; padding:20px 0">Hi, you have new unread message:</div>
        <div class="chat-box" style="background:rgba(76, 117, 163, 0.1); display:flex; flex-direction:row; padding:10px 0; width:300px" width="300">
            <a href="https://borovclub.com/@Model.Sender.UserName">
                <img class="participiant-avatar" src="https://borovclub.com/@Model.Sender.AvatarPath" style="height:80px; padding:0 10px; width:80px" height="80" width="80">
            </a>
            <div class="participiant-container\">
                <a href="https://borovclub.com/messages/@Model.Sender.UserName" class="participiant" style="color:grey; font-weight:600; text-decoration:none">
                    @Model.Sender.FirstName  @Model.Sender.LastName
                </a>
                <div class="message-info" style="align-items:center; border-radius:4px; display:flex; margin-top:8px; padding:4px">
                    <div class="last-message" style="padding:0 10px"> @Model.Text </div>
                </div>
            </div>
        </div>
    </div>
</body>
           
</html>