@inject IJSRuntime JSruntime;
@inject AccountService service;
@using BorovClub.Models;
<div class="navbar">
    <div class="navbar-short-summary">
        <div class="avatar"><img id="avatar-image" src="@user.AvatarPath" /></div>
        <label for="avatar-input" class="custom-input"></label>
        <input type="file" name="file" id="avatar-input" />
        <div class="nickname">@user.FirstName @user.LastName</div>
    </div>
    <ul class="navbar-links">
        <li>
            <a href="messages">Messages</a>
        </li>
        <li>
            <a href="profiles">Profile</a>
        </li>
        <li>
            <a href="friends">Friends</a>
        </li>
        <li>
            <a href="settings">Settings</a>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    ApplicationUser user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSruntime.InvokeVoidAsync("avatarOnChange");
        }
    }

    protected override void OnInitialized()
    {
        user = service.getUser(Username);
    }
}