@page "/"
@namespace BorovClub.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BorovClub</title>
    <base href="~/" />
    <link href="css/styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="loading-container">
        <div class="loading-window">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
    <div class="app">
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </div>
    <script src="~/lib/js/messageClient.js"></script>
    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
        Blazor.start({
            configureSignalR: function (builder) {
                builder.withUrl("_blazor", {
                    accessTokenFactory: () => localStorage.getItem("token")
                });
                builder.configureLogging(2); // LogLevel.Information
            }
        });
    </script>
    <script src="~/lib/js/accountAuth.js"></script>
    <script src="~/lib/js/modalControl.js"></script>
    <script src="~/lib/js/inputfile.js"></script>
</body>
</html>
